{% extends 'std_page/index.html' %}

{% load staticfiles %}
{% load attachable_blocks %}
{% load pipeline_plus %}
{% load away %}
{% load text %}

{% block static_head %}
  {{ block.super }}
  {% stylesheet 'product' %}
{% endblock static_head %}

{% block static_js %}
  {{ block.super }}
  {% javascript 'product' %}
{% endblock static_js %}

{% block tabs %}
  <div class="tabs-box-wrapper">
    <div class="tabs-btn btn-box-{{ categories.count|add:"1" }}">
      <a  href="{% url 'products:index' %}" class="btn big blue"><span>All</span></a>
      {% for category in categories %}
        <a  href="
            {% if category.products.count == 1 %}
                {{ category.products.first.get_absolute_url }}
            {% else %}
                {{ category.get_absolute_url }}
            {% endif %}"
            class="btn big
                   {% cycle ' orange' ' sky' ' green' ' brown' ' violet' %}
                   {% cycle ' reverse' ' regular' %}
                   {% if current_category.pk == category.pk %} active{% endif %}">
          <span>{{ category.title }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock tabs %}

{% block page_data %}
  <div class="top-side">
  </div>
  <div class="middle-side">
    <div class="grid">
      <div class="all">
        <div class="products_tabs">
          <div class="scrub_products">
            {% for product in products %}
              <a class="item" href="{{ product.get_absolute_url }}">
                <div class="upper">
                  <img src="{{ product.preview.normal.url }}"
                       alt=""
                       srcset="{{ product.preview.normal.url }} 1x, {{ product.preview.url }} 2x">
                  <div class="tab-color"  style="background: {{ product.category.background_color }}"></div>
                </div>
                <h2 class="title-h4">{{ product.title }}</h2>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-side">
    <div class="grid">
      <div class="text-styles text-styles-sm w780">{% away current_category.description|typograf %}</div>
    </div>
  </div>
{% endblock %}
