@import 'mixins';
$blue: #3991c9;
$footer_2col: $media768;
$footer_1col: $media480;

// стилизация шапки
.header {
  height: 55px;
  background: $blue;
  text-shadow: none;

  #branding {
    height: 55px;
    border-right: none;

    h1 {
      font-weight: normal;
      margin-top: 8px;
      margin-left: 18px;
      text-shadow: none;
      @include font-size(24px);
    }
  }

  #user-tools {
    padding-top: 17px;
    @include font-size(15px);

    .username {
      color: #2c3035;
    }

    .separator {
      color: white;
    }
  }

  .logout {
    display: inline-block;
    margin: 0;
    vertical-align: bottom;

    button {
      font-size: inherit;
      display: inline;
      padding: 0;
      color: white;
      border: none;
      background: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  a {
    color: white;
  }
}

// стилизация меню
#wrap {
  background: #fafafa;
  @include flexbox;
  @include flex-flow(column nowrap);
}

#container {
  @include flexbox;
  @include flex-grow(1);
  @include flex-flow(column nowrap);
}

.suit-columns {
  padding-right: 0;
  padding-left: 0;
  @include flexbox;
}

#suit-center {
  width: auto;
  @include flex(1 0 0);
}

#suit-left {
  right: 0;
  float: none;
  width: 220px;
  margin-left: 0;
  border-right: 1px solid #dadada;
  background: #f5f9fc;
  @include flex(0 0 220px);
}

#left-nav {
  margin-top: 0;
  margin-bottom: 100px;
  @include font-size(13px);

  ul {
    border-bottom: none;
  }

  li {
    border: none;

    a {
      padding: 6px 8px 6px 27px;
      border-bottom: none;
      background: inherit;
      text-shadow: none;

      &:hover {
        background: rgba($blue, .1);
      }
    }
  }

  & > ul {
    padding: 14px 0;

    a {
      font-weight: normal;
      color: #08c;
    }

    // подменюхи
    ul {
      display: none;
      padding: 0;

      li.active > a {
        font-weight: bold;
        color: #333;
      }
    }

    // показ подменню активного пункта
    li.active {
      & > ul {
        display: block;
        @include box-shadow(none);
      }
    }

    // подменю в окне
    li:not(.active):hover {
      background: rgba($blue, .1);

      & > ul {
        position: absolute;
        z-index: 10;
        left: 100%;
        display: block;
        margin-top: -30px;
        margin-right: -250px;
        padding: 0;
        @include background-clip(padding-box);
        @include border_radius(4px);
        @include box-shadow(0 0 3px rgba(0, 0, 0, .4));

        & > li {
          & > a {
            padding: 5px 25px 5px 15px;
            @include font-size(14px);
          }

          &:first-child a {
            padding-top: 7px;
          }

          &:last-child a {
            padding-bottom: 7px;
          }
        }
      }
    }

    // меню первого уровня
    & > li {
      & > a {
        padding: 8px 10px 8px 18px;

        i {
          display: none;
        }
      }

      // активный пункт первого меню
      &.active {
        & > a {
          color: #fff;
          background: $blue;

          &:after {
            content: none;
          }
        }
      }

      & > ul {
        padding: 7px 0;
      }

      & > ul > li > a {
        padding-left: 27px;
      }

      & > ul > li > ul > li > a {
        padding-left: 45px;
      }

      &.separator {
        background: #e8e8e8 !important;
      }
    }
  }
}

// стилизация хлебных крошек
.breadcrumb,
.breadcrumbs {
  margin: 0;
  padding: 12px 20px;
  @include font-size(14px);
}

// правка сообщений
#suit-center > .alert {
  margin: 10px 20px 0;
}

// стилизация кнопок
.btn {
  padding: 8px 16px;
  color: #333;
  border: none;
  text-shadow: none;
  @include font-size(13px, 16px);
  @include box-shadow(inset 0px 0px 0px 1px #d0d0d0);
  @include border_radius(7px);
  @include linear-gradient(to bottom, #f0f0f0, #e0e0e0);

  &.btn-small {
    padding: 6px 14px;
    @include font-size(12px);
  }

  &.btn-mini {
    padding: 4px 10px;
    @include font-size(12px);
    @include border_radius(5px);

    [class^='icon-'],
    [class*=' icon-'] {
      margin: 1px;
    }
  }

  &:hover {
    text-decoration: none !important;
    background-position: 0 0;
    @include linear-gradient(to bottom, #efefef, #d6d6d6);
  }

  &:focus {
    background-position: 0 0;
  }

  &:active {
    background-image: none;
    @include box-shadow(inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05));
  }

  &.btn-success {
    color: white;
    @include box-shadow(none);
    @include linear-gradient(to bottom, #44b446, #1ca41c);

    &:hover {
      @include linear-gradient(to bottom, #5abc59, #32ad31);
    }

    &:active {
      @include linear-gradient(to bottom, #1ca41c, #44b446);
    }
  }

  &.btn-info {
    color: white;
    @include box-shadow(none);
    @include linear-gradient(to bottom, #60a7d3, #3b92c8);

    &:hover {
      @include linear-gradient(to bottom, #71b1d7, #4f9dce);
    }

    &:active {
      @include linear-gradient(to bottom, #3b92c8, #60a7d3);
    }
  }

  &.btn-primary {
    color: white;
    @include box-shadow(none);
    @include linear-gradient(to bottom, #5ec9ff, #36bbfc);

    &:hover {
      @include linear-gradient(to bottom, #6ecefe, #4bc3ff);
    }

    &:active {
      @include linear-gradient(to bottom, #36bbfc, #5ec9ff);
    }
  }

  &.btn-warning {
    color: white;
    @include box-shadow(none);
    @include linear-gradient(to bottom, #fe8333, #fe6601);

    &:hover {
      @include linear-gradient(to bottom, #ff9048, #ff751c);
    }

    &:active {
      @include linear-gradient(to bottom, #fe6601, #fe8333);
    }
  }

  &.btn-danger {
    color: white;
    @include box-shadow(none);
    @include linear-gradient(to bottom, #e33f40, #dc100f);

    &:hover {
      @include linear-gradient(to bottom, #e55354, #e02828);
    }

    &:active {
      @include linear-gradient(to bottom, #dc100f, #e33f40);
    }
  }
}

// стили контента
#suit-center {
  float: none;
  padding: 0;
}

#content {
  padding: 20px;
  @include border-box;
}

// новые стрелки сортировки
.sortable-up {
  line-height: 1;

  i {
    width: 16px;
    background: url(../img/sprite.svg) no-repeat -68px -3px;
  }
}

.sortable-down {
  line-height: 1;

  i {
    width: 16px;
    background: url(../img/sprite.svg) no-repeat -88px -3px;
  }
}

.inline-sortable a {
  margin-right: 8px;
  padding: 2px;

  &:last-child {
    margin-right: 0;
  }
}

.stacked-inline-sortable a {
  margin-right: 4px;
  padding: 2px;

  &:last-child {
    margin-right: 0;
  }
}

// стили форм
.form-horizontal .control-group .controls {
  background: #f8f8f8;
}

// стили вкладок
.nav-tabs-suit li.active a,
.nav-tabs-suit li.active a:hover {
  border-bottom: 1px solid #f8f8f8;
  background: transparent;
}

// подвал
#footer {
  margin: 0;
  background: #f2f2f2;

  .content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 60px 0;
    border: 0;
    @include flexbox;

    @include media_interval($footer_1col, $footer_2col) {
      padding: 20px 20px 0;
    }
    @include media_interval(0, $footer_1col) {
      padding: 20px 0 0;
    }

    p {
      margin: 4px 0 0;
      color: #2c3035;
      @include font-size(13px, 16px);
    }

    .help-box {
      margin-right: 4%;

      @include media_interval(0, $footer_2col) {
        display: none;
      }
    }

    .phone-box {
      margin-right: 4%;
    }

    .email-box {
      @include media_interval(0, $media400) {
        display: none;
      }
    }

    .logo-box {
      text-align: right;
      @include flex-grow(1);

      a {
        display: inline-block;
        width: 66px;
        height: 20px;
        background: url(/static/admin/img/sprite.svg) no-repeat 0 0;
      }
    }
  }
}

/*
  ======================================
        Jquery UI
  ======================================
*/
.ui-widget {
  font-family: 'Roboto', sans-serif;

  input,
  select,
  textarea,
  button {
    font-family: 'Roboto', sans-serif;
  }
}

.ui-widget-content {
  border: none;
}

.ui-widget-header {
  border: none;
}

.ui-dialog {
  padding: 0;
  border: none;
  @include border_radius(7px);

  .ui-dialog-content {
    margin-bottom: 0;
    padding: .5em 1em 0;
  }

  .ui-dialog-titlebar {
    padding: .6em 1em;
    @include border_radius(0);

    &:before {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 10px;
      content: '';
      background: $blue;
    }
  }

  .ui-dialog-titlebar-close {
    right: .8em;
    width: 24px;
    height: 24px;
    margin: -12px 0 0 0;
    border: none;
    background: transparent;

    .ui-button-icon-primary {
      display: none;
    }

    &:before,
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 86%;
      height: 14%;
      content: '';
      background: white;
      @include border_radius(4px);
    }

    &:before {
      @include transform(translate(-50%, -50%) rotate(-45deg));
    }

    &:after {
      @include transform(translate(-50%, -50%) rotate(45deg));
    }

    &:hover {
      &:before,
      &:after {
        background: #dadada;
      }
    }
  }

  textarea {
    font-size: 14px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-height: 100px;
    margin: 0;
  }

  // footer
  .ui-dialog-buttonpane {
    margin-top: 0;
  }

  .btn {
    border: none;

    &:not(.btn-info) {
      @include linear-gradient(to bottom, #f0f0f0, #e0e0e0);
    }
  }
}

/*
  Buttons
*/
.btn.ui-button {
  padding: 0;
}

.btn-info.ui-button .ui-icon {
  background-image: url(../css/jquery-ui/images/ui-icons_ffffff_256x240.png);
}

.ui-icon-check {
  background-position: -64px -145px;
}
