@import 'mixins';

.hierarchy-filter {
  overflow: hidden;
  margin-bottom: 12px;
  padding: 12px 20px;
  background-color: #f5f5f5;
  @include border_radius(4px);

  @at-root #changelist-search 

  & {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .title {
    font-size: 12px;
    font-weight: bold;

    b {
      margin-right: 6px;
    }
  }

  ul {
    margin-bottom: 0 !important;
    padding: 0;
  }

  li {
    margin: 2px 10px 2px 0;

    .divider {
      margin-left: 10px;

      &.small {
        margin-right: -5px;
        margin-left: 5px;
      }
    }

    &.active {
      border: none;
      @include box-shadow(none);

      a {
        cursor: default;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
