@charset "UTF-8";
/*
  $list: a, b, d, e, f;
  $new-list: insert-nth($list, 3, c);     // a, b, c, d, e, f
*/
/*
  $list: a, b, r, a, c a, d a, b, r, a;
  $new-list: replace($list, a, u);       // u, b, r, u, c a, d a, b, r, u;
*/
/*
  $list: a, b, z, d, e, f;
  $new-list: replace-nth($list,   3, c); // a, b, c, d, e, f
  $new-list: replace-nth($list,  -2, c); // a, b, c, d, z, f
*/
/*
  $list: a, b z, c, z, d, z, e, f;
  $new-list: remove($list, z);       // a, b z, c, d, e, f;
*/
/*
  $list: a, b, z, c, d, e, f;
  $new-list: remove-nth($list,   3); // a, b, c, d, e, f
  $new-list: remove-nth($list,  -2); // a, b, z, c, d, f
*/
/*
  $list: a, b, c, d, e, f;
  $new-list: slice($list, 3, 5);   // c, d, e
  $new-list: slice($list, 4, 4);   // d
*/
/*
  $list: a, b, c d e, f, g, h;
  $new-list: reverse($list);       // h, g, f, c d e, b, a
  $new-list: reverse($list, true); // h, g, f, e d c, b, a
*/
/*
    Добавляет константу к каждому значению карты.

    Пример:
      $map: (
        (1024px, 0): 100px,
        (768px, 1024px): 80px,
        (0, 768px): 60px,
      )

      > map_add($map, 10px)
      (
        (1024px, 0): 110px,
        (768px, 1024px): 90px,
        (0, 768px): 70px,
      )
 */
/*
    Получение ключа карты $map media-интервалов,
    в который входит искомый интервал $media.
    Если искомый интервал находится на границе
    двух или более интервалов карты, генерируется ошибка.

    Пример:
      $map: (
        (1024px, 0): 100px,
        (768px, 1024px): 80px,
        (0, 768px): 60px,
      )

      > media_map_key($map, (1200px, 0))
      (1024px, 0)
 */
/*
    Получение среза media-карты.

    Пример:
      $map: (
        (1024px, 0): 100px,
        (768px, 1024px): 80px,
        (0, 768px): 60px,
      )

      > media_map_slice($map, (640px, 1200px))
      (
        (1024px, 1200px): 100px,
        (768px, 1024px): 80px,
        (640px, 768px): 60px,
      )
 */
/*
  Многоколоночная верстка через flexbox.

  Пример:
    .list {
      @include flexbox;
      @include flex-flow(row wrap);

      .item {
        @include flex-columns(2, 10px, 10px);
      }
    }
*/
/*
  Пример:
    input {
      color: #808080;
      ...
      @include placeholder {
        color: red;
      }
    }
*/
#header-cell {
  position: absolute; }
  #header-cell header {
    background: none; }

#content {
  vertical-align: middle;
  background-image: radial-gradient(circle at 29% 49%, #3789ff, #0042b7); }
  #content::before {
    position: absolute;
    z-index: -3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: url("/static/img/LIne_404.png") no-repeat;
    background-position: right;
    background-size: contain; }
    @media all and (max-width: 1023px) {
      #content::before {
        display: none; } }

#error {
  position: relative;
  color: #fff; }
  @media all and (max-width: 1023px) {
    #error {
      padding: 100px 0; } }
  #error .block-left {
    max-width: 440px;
    text-align: center; }
    @media all and (max-width: 1023px) {
      #error .block-left {
        margin: 0 auto; } }
  #error .title-h1-error {
    font-family: 'KumizFY';
    font-style: italic;
    font-size: 220px;
    font-size: 13.75rem;
    line-height: 0.90909; }
    @media all and (min-width: 768px) and (max-width: 1023px) {
      #error .title-h1-error {
        font-size: 160px;
        font-size: 10rem;
        line-height: 1; } }
    @media all and (max-width: 767px) {
      #error .title-h1-error {
        font-size: 120px;
        font-size: 7.5rem;
        line-height: 1.33333; } }
  #error .description-error {
    font-family: 'KumizFY';
    font-style: italic;
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 1.15385; }
    @media all and (max-width: 1023px) {
      #error .description-error {
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 1.66667; } }
  #error .btn {
    margin-top: 40px; }
  #error img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 55%;
    width: 500px;
    -webkit-transform: translateX(-55%);
    -moz-transform: translateX(-55%);
    -ms-transform: translateX(-55%);
    -o-transform: translateX(-55%);
    transform: translateX(-55%); }
    @media all and (max-width: 1023px) {
      #error img {
        display: none; } }

.thanks-wrapper {
  text-align: center; }
