@charset "UTF-8";
/*
  $list: a, b, d, e, f;
  $new-list: insert-nth($list, 3, c);     // a, b, c, d, e, f
*/
/*
  $list: a, b, r, a, c a, d a, b, r, a;
  $new-list: replace($list, a, u);       // u, b, r, u, c a, d a, b, r, u;
*/
/*
  $list: a, b, z, d, e, f;
  $new-list: replace-nth($list,   3, c); // a, b, c, d, e, f
  $new-list: replace-nth($list,  -2, c); // a, b, c, d, z, f
*/
/*
  $list: a, b z, c, z, d, z, e, f;
  $new-list: remove($list, z);       // a, b z, c, d, e, f;
*/
/*
  $list: a, b, z, c, d, e, f;
  $new-list: remove-nth($list,   3); // a, b, c, d, e, f
  $new-list: remove-nth($list,  -2); // a, b, z, c, d, f
*/
/*
  $list: a, b, c, d, e, f;
  $new-list: slice($list, 3, 5);   // c, d, e
  $new-list: slice($list, 4, 4);   // d
*/
/*
  $list: a, b, c d e, f, g, h;
  $new-list: reverse($list);       // h, g, f, c d e, b, a
  $new-list: reverse($list, true); // h, g, f, e d c, b, a
*/
/*
    Добавляет константу к каждому значению карты.

    Пример:
      $map: (
        (1024px, 0): 100px,
        (768px, 1024px): 80px,
        (0, 768px): 60px,
      )

      > map_add($map, 10px)
      (
        (1024px, 0): 110px,
        (768px, 1024px): 90px,
        (0, 768px): 70px,
      )
 */
/*
    Получение ключа карты $map media-интервалов,
    в который входит искомый интервал $media.
    Если искомый интервал находится на границе
    двух или более интервалов карты, генерируется ошибка.

    Пример:
      $map: (
        (1024px, 0): 100px,
        (768px, 1024px): 80px,
        (0, 768px): 60px,
      )

      > media_map_key($map, (1200px, 0))
      (1024px, 0)
 */
/*
    Получение среза media-карты.

    Пример:
      $map: (
        (1024px, 0): 100px,
        (768px, 1024px): 80px,
        (0, 768px): 60px,
      )

      > media_map_slice($map, (640px, 1200px))
      (
        (1024px, 1200px): 100px,
        (768px, 1024px): 80px,
        (640px, 768px): 60px,
      )
 */
/*
  Многоколоночная верстка через flexbox.

  Пример:
    .list {
      @include flexbox;
      @include flex-flow(row wrap);

      .item {
        @include flex-columns(2, 10px, 10px);
      }
    }
*/
/*
  Пример:
    input {
      color: #808080;
      ...
      @include placeholder {
        color: red;
      }
    }
*/
.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -moz-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.support-all {
  padding: 90px 0; }
  .support-all .w880 {
    max-width: 880px;
    margin: 0 auto; }
  .support-all .btn-sup {
    font-weight: 900;
    display: block;
    width: 160px;
    margin-left: 20px;
    padding: 7px 0;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    color: #0032a0;
    border-radius: 15px;
    background: #ffe22d;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s; }
    .support-all .btn-sup:hover {
      background: #f0d109; }
  .support-all .top {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
  .support-all .line {
    position: relative;
    margin-bottom: 60px; }
    .support-all .line::before {
      position: absolute;
      bottom: -23px;
      width: 100%;
      height: 1px;
      content: '';
      background: #0032a0; }
  .support-all .faq-all {
    margin-bottom: 85px; }
    .support-all .faq-all .bottom .list li {
      position: relative;
      margin-bottom: 35px; }
      .support-all .faq-all .bottom .list li img {
        margin-top: 15px; }
      .support-all .faq-all .bottom .list li:last-of-type {
        margin-bottom: 0; }
      .support-all .faq-all .bottom .list li .page-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    .support-all .faq-all .description {
      margin-top: .5em; }
  .support-all .blog-all {
    margin-bottom: 85px; }
    .support-all .blog-all .flex-container {
      /*Post styles from support and discover*/
      /*Intersects with blog/index.css .read-more styles*/ }
      .support-all .blog-all .flex-container .post {
        background: #fff;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -webkit-transition: -webkit-transform 0.3s, transform 0.3s;
        -moz-transition: -webkit-transform 0.3s, transform 0.3s;
        -ms-transition: -webkit-transform 0.3s, transform 0.3s;
        -o-transition: -webkit-transform 0.3s, transform 0.3s;
        transition: -webkit-transform 0.3s, transform 0.3s; }
        @media all and (max-width: 1023px) {
          .support-all .blog-all .flex-container .post {
            margin-bottom: 20px; } }
        @media all and (min-width: 768px) {
          .support-all .blog-all .flex-container .post:hover {
            z-index: 99;
            -webkit-box-shadow: 0 10px 20px 0 rgba(20, 47, 105, 0.5);
            -moz-box-shadow: 0 10px 20px 0 rgba(20, 47, 105, 0.5);
            box-shadow: 0 10px 20px 0 rgba(20, 47, 105, 0.5);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
            transform: scale(1.2); }
            .support-all .blog-all .flex-container .post:hover .read-more {
              opacity: 1; } }
        .support-all .blog-all .flex-container .post img {
          margin-bottom: 10px; }
        .support-all .blog-all .flex-container .post .bottom-side {
          position: relative;
          z-index: 1;
          overflow: hidden;
          padding: 0 20px 5px 10px; }
        .support-all .blog-all .flex-container .post .description_small {
          line-height: 1.5;
          margin-top: 8px; }
      .support-all .blog-all .flex-container .read-more {
        font-weight: 700;
        margin-left: 20px;
        opacity: 0;
        color: #0032a0;
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -ms-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
        transition: opacity 0.3s;
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.5625; }
  @media all and (max-width: 1023px) {
    .support-all .news-all .flex-container .item {
      margin-bottom: 20px; } }
  .support-all .news-all .flex-container .item img {
    margin-bottom: 10px; }
  .support-all .news-all .flex-container .item .bottom .title {
    padding-top: 5px;
    padding-left: 40px; }
  .support-all .news-all .flex-container .item .bottom .icon {
    position: relative; }
    .support-all .news-all .flex-container .item .bottom .icon::before {
      position: absolute;
      left: 0;
      width: 32px;
      height: 32px;
      content: '';
      background: url(/static/img/sprite.svg) no-repeat;
      background-position: 0% 86.86567%;
      background-size: 843.75% 1146.875%; }
  .support-all .news-all .flex-container .item.AU .icon::before {
    background-position: 27.08333% 86.64688%; }
  .support-all .news-all .flex-container .item.AR .icon::before {
    background-position: 13.75% 86.64688%; }

.faq .accordion-container {
  max-width: 780px;
  margin: 0 auto;
  padding: 80px 0; }
  .faq .accordion-container .choosen {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-box-align-items: center;
    -moz-box-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1; }
    @media all and (max-width: 1023px) {
      .faq .accordion-container .choosen {
        -webkit-box-orient: vertical;
        -webkit-box-flex-direction: column;
        -moz-box-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .faq .accordion-container .choosen #ui-id-1-button {
      max-width: 370px;
      color: #0032a0;
      border: none;
      background: rgba(218, 229, 255, 0.7); }
      @media all and (max-width: 1023px) {
        .faq .accordion-container .choosen #ui-id-1-button {
          margin-bottom: 10px; } }
    .faq .accordion-container .choosen .among {
      padding: 0 5px; }
      @media all and (max-width: 1023px) {
        .faq .accordion-container .choosen .among {
          display: none; } }
    .faq .accordion-container .choosen .form {
      position: relative;
      width: 100%;
      max-width: 370px; }
      .faq .accordion-container .choosen .form::after {
        position: absolute;
        top: 50%;
        right: 10px;
        width: 22px;
        height: 23px;
        content: '';
        pointer-events: none;
        background: url(/static/img/sprite.svg) no-repeat;
        background-position: -2.08333% 93.76855%;
        background-size: 900% 1223.33333%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
        @media all and (max-width: 1023px) {
          .faq .accordion-container .choosen .form::after {
            top: calc(50% - 12px); } }
    .faq .accordion-container .choosen .search {
      min-width: 100%;
      padding: 10px 30px 10px 10px;
      background: rgba(218, 229, 255, 0.7);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      @media all and (max-width: 1023px) {
        .faq .accordion-container .choosen .search {
          margin-bottom: 30px; } }
      .faq .accordion-container .choosen .search::-webkit-input-placeholder {
        color: #0032a0; }
      .faq .accordion-container .choosen .search::-moz-placeholder {
        color: #0032a0; }
      .faq .accordion-container .choosen .search:-moz-placeholder {
        color: #0032a0; }
      .faq .accordion-container .choosen .search:-ms-input-placeholder {
        color: #0032a0; }
  .faq .accordion-container .item {
    position: relative;
    padding-top: 16px;
    padding-bottom: 41px; }
    .faq .accordion-container .item::after {
      position: absolute;
      bottom: -1px;
      width: 100%;
      height: 1px;
      content: '';
      background: #d8d8d8; }
    .faq .accordion-container .item:first-child::before {
      position: absolute;
      top: -1px;
      width: 100%;
      height: 1px;
      content: '';
      background: #d8d8d8; }
    .faq .accordion-container .item:last-child::after {
      display: none; }
    .faq .accordion-container .item.disable {
      display: none; }
    .faq .accordion-container .item.enable {
      display: block; }
    .faq .accordion-container .item .title {
      cursor: pointer; }
    .faq .accordion-container .item .hide__side {
      overflow: hidden;
      height: 0;
      -webkit-transition: height 0.2s, opacity 0.3s;
      -moz-transition: height 0.2s, opacity 0.3s;
      -ms-transition: height 0.2s, opacity 0.3s;
      -o-transition: height 0.2s, opacity 0.3s;
      transition: height 0.2s, opacity 0.3s; }
      .faq .accordion-container .item .hide__side img {
        margin-top: 15px; }

.faq .ui-button {
  margin: 0; }

.contact-block {
  padding-top: 60px; }
  .contact-block:before {
    top: 0;
    left: 0; }
  .contact-block:after {
    display: none; }
  .contact-block .decorative {
    display: none; }
