{% extends 'std_page/index.html' %}

{% load staticfiles %}
{% load attachable_blocks %}
{% load pipeline_plus %}
{% load away %}

{% block static_head %}
  {{ block.super }}
  {% stylesheet 'media' %}
{% endblock static_head %}

{% block static_js %}
  {{ block.super }}
  {% javascript 'media' %}
{% endblock static_js %}


{% block tabs %}
    {% include 'support/_tabs.html' %}
{% endblock %}

{% block page_data %}
  <div class="media">
    <div class="grid">
      <div class="tabs">
        <div class="btn-tab btn-all active">all</div>
        <div class="btn-tab btn-video">video</div>
        <div class="btn-tab btn-audio">audio</div>
        <div class="btn-tab btn-article">article</div>
      </div>
      <div class="all">
        <div class="flex-container four-in-row">
          {% for link in links %}
            <a href="{{ link.link }}" target="_blank" class="item-w280 item {{ link.type }}">
              <img src="{{ link.preview.normal.url }}" alt="" srcset="{{ link.preview.url }} 1x, {{ link.preview.url }} 2x">
              <div class="bottom">
                <span class="icon"></span>
                <div class="title-h5">{{ link.title }}</div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="video">
        <div class="flex-container four-in-row">
          {% for link in links %}
            {% if link.type == 'VI' %}
              <a href="{{ link.link }}" target="_blank" class="item-w280 item {{ link.type }}">
                <img src="{{ link.preview.normal.url }}" alt="" srcset="{{ link.preview.url }} 1x, {{ link.preview.url }} 2x">
                <div class="bottom">
                  <span class="icon"></span>
                  <div class="title-h5">{{ link.title }}</div>
                </div>
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="audio">
        <div class="flex-container four-in-row">
          {% for link in links %}
            {% if link.type == 'AU' %}
              <a href="{{ link.link }}" target="_blank" class="item-w280 item {{ link.type }}">
                <img src="{{ link.preview.normal.url }}" alt="" srcset="{{ link.preview.url }} 1x, {{ link.preview.url }} 2x">
                <div class="bottom">
                  <span class="icon"></span>
                  <div class="title-h5">{{ link.title }}</div>
                </div>
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="article">
        <div class="flex-container four-in-row">
          {% for link in links %}
            {% if link.type == 'AR' %}
              <a href="{{ link.link }}" target="_blank" class="item-w280 item {{ link.type }}">
                <img src="{{ link.preview.normal.url }}" alt="" srcset="{{ link.preview.url }} 1x, {{ link.preview.url }} 2x">
                <div class="bottom">
                  <span class="icon"></span>
                  <div class="title-h5">{{ link.title }}</div>
                </div>
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock page_data %}
