@charset "UTF-8";
/*
  $list: a, b, d, e, f;
  $new-list: insert-nth($list, 3, c);     // a, b, c, d, e, f
*/
/*
  $list: a, b, r, a, c a, d a, b, r, a;
  $new-list: replace($list, a, u);       // u, b, r, u, c a, d a, b, r, u;
*/
/*
  $list: a, b, z, d, e, f;
  $new-list: replace-nth($list,   3, c); // a, b, c, d, e, f
  $new-list: replace-nth($list,  -2, c); // a, b, c, d, z, f
*/
/*
  $list: a, b z, c, z, d, z, e, f;
  $new-list: remove($list, z);       // a, b z, c, d, e, f;
*/
/*
  $list: a, b, z, c, d, e, f;
  $new-list: remove-nth($list,   3); // a, b, c, d, e, f
  $new-list: remove-nth($list,  -2); // a, b, z, c, d, f
*/
/*
  $list: a, b, c, d, e, f;
  $new-list: slice($list, 3, 5);   // c, d, e
  $new-list: slice($list, 4, 4);   // d
*/
/*
  $list: a, b, c d e, f, g, h;
  $new-list: reverse($list);       // h, g, f, c d e, b, a
  $new-list: reverse($list, true); // h, g, f, e d c, b, a
*/
/*
    Добавляет константу к каждому значению карты.

    Пример:
      $map: (
        (1024px, 0): 100px,
        (768px, 1024px): 80px,
        (0, 768px): 60px,
      )

      > map_add($map, 10px)
      (
        (1024px, 0): 110px,
        (768px, 1024px): 90px,
        (0, 768px): 70px,
      )
 */
/*
    Получение ключа карты $map media-интервалов,
    в который входит искомый интервал $media.
    Если искомый интервал находится на границе
    двух или более интервалов карты, генерируется ошибка.

    Пример:
      $map: (
        (1024px, 0): 100px,
        (768px, 1024px): 80px,
        (0, 768px): 60px,
      )

      > media_map_key($map, (1200px, 0))
      (1024px, 0)
 */
/*
    Получение среза media-карты.

    Пример:
      $map: (
        (1024px, 0): 100px,
        (768px, 1024px): 80px,
        (0, 768px): 60px,
      )

      > media_map_slice($map, (640px, 1200px))
      (
        (1024px, 1200px): 100px,
        (768px, 1024px): 80px,
        (640px, 768px): 60px,
      )
 */
/*
  Многоколоночная верстка через flexbox.

  Пример:
    .list {
      @include flexbox;
      @include flex-flow(row wrap);

      .item {
        @include flex-columns(2, 10px, 10px);
      }
    }
*/
/*
  Пример:
    input {
      color: #808080;
      ...
      @include placeholder {
        color: red;
      }
    }
*/
/*
    Для случая слайдера фоток на фоне блока с фиксированным контентом.

    <div class="section section-full-height">
      <div class="section-slider">
        <div class="slider no-slider">

          <div class="slider-item">
            <img src="{% static 'pic1.jpg' %}">
          </div>
          ...

        </div>
      </div>

      <div class="section-inner">
        <div class="grid-block">
            ...
        </div>
      </div>
    </div>

    JS:
      Slider('.section-slider .slider', {
          sliderHeight: Slider.prototype.HEIGHT_NONE
      }).attachPlugins([
          SliderSideAnimation({}),
          SliderSideShortestAnimation({}),
          SliderControlsPlugin({
              animationName: 'side-shortest'
          }),
          SliderNavigationPlugin({
              animationName: 'side'
          })
      ]);
*/
.section-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  min-height: inherit;
  z-index: 30; }
  .section-slider .no-slider {
    height: inherit;
    min-height: inherit; }
    .section-slider .no-slider .slider-item ~ .slider-item {
      display: none; }
  .section-slider .slider-root {
    height: inherit;
    min-height: inherit; }
  .section-slider .slider-slide {
    height: inherit;
    min-height: inherit; }
  .section-slider .slider-item {
    height: inherit;
    min-height: inherit; }
  .section-slider .slider-item > img {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    z-index: auto;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
